
<% if flash.any? %>
  <div class="flash-div">
    <% flash.each do |key, value| %>
      <% if key == 'notice' %>
        <p class="flash-notice" id="<%= key %>"><%= value %></p>
      <% elsif key == 'alert' %>
        <p class="flash-alert" id="<%= key %>"><%= value %></p>
      <% else %>
        <p id="<%= key %>"><%= value %></p>
      <% end %>
    <% end %>
  </div>
<% end %>