<div class="container">
  <%= render 'shared/flash' %>
  <div class="login-container">
    <div class="login-content">
      <h1 class="welcome-text">Welcome To LinkVault</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'input-field' %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'input-field' %>
          <%= link_to "Register", new_registration_path(resource_name), class: 'register-link' %>
          <div class="actions">
            <%= f.submit "Log in" , class: 'login-button'%>
          </div>
        <% end %>
    </div>
  </div>
</div>

